.identification-correspondance {
    padding: 24px 16px;
    border: 1px solid var(--couleur-filet-secondaire);
    margin-bottom: 32px;
    max-width: var(--largeur-max-zone-texte);
}

.identification-correspondance .code-version{
    display: flex;
    flex-wrap: wrap;
}
.identification-correspondance .code-version .label {
    margin-bottom: 16px;
}

.identification-correspondance .code-version > * {
    display: inline-block;
}

.zone-boutons-bas-page {
    margin-top: 80px;
}

.zone-boutons-bas-page .utd-btn {
    margin-right: 32px;
}

.zone-boutons-bas-page .utd-btn:last-of-type {
    margin-right: 0;
}
