@page "{handler?}"
@model GCO.PR.Pages.GCOCorrespondanceModel
@{
    Layout = "_Layout2Colonnes";
    ViewData["Title"] = "Gérer une correspondance";
}

@section style{
    <style>
    </style>
}

@section colonneGauche {

    <div class="identification-correspondance page-texte">
        <div class="code-version">
            <span>
                <span class="label">Identifiant :</span>
                <span class="mr-32">@Model.CodeCorrespondance</span>
            </span>
            <span>
                <span class="label">Version courante :</span>
                <span id="versionCouranteCorrespondance"></span>
            </span>
        </div>

        <div>
            <span class="label utd-d-inline-block">Description</span>
            <span class="utd-d-block" id="descriptionCorrespondance"></span>
        </div>
    </div>



    <utd-accordeon titre="Historique des versions">
        <p>... À VENIR ....</p>
        <p>Ici un tableau qui affiche l'historique des versions.</p>
    </utd-accordeon>

    <utd-accordeon titre="Scénarios">
        <p>... À VENIR ....</p>
        <p>Ici un tableau qui affiche les différents scénarios. Il est possible de modifier, supprimer et ajouter un scénario.</p>
        <button type="button" class="utd-btn secondaire compact">Ajouter</button>
    </utd-accordeon>

    <div class="zone-boutons-bas-page">
        <a class="utd-btn primaire" asp-page="/Gabarit" asp-route-c="@Model.CodeCorrespondance">Accéder au gabarit</a>
    </div>
    
}



@section scripts{

    <script>

        definirZoneIdentificationGabarit('@Model.CodeCorrespondance')

    </script>

}