@page "{handler?}"
@model GCO.PR.Pages.GCOCorrespondanceModel
@{
    ViewData["Title"] = "Gérer la correspondance " + Model.CodeCorrespondance;
}

@section style{
    <style>

    </style>
}

<div>
</div>

@section scripts{

    <script>
    </script>

}